footer {
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 2rem;
  background-color: #30323d;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  color: #989bae;
}

footer p {
  width: 80%;
}
