<%- layout("layouts/boilerplate.ejs") %>

    <form action="/campgrounds" method="post">
        <p>
            <label for="title">Campground title</label>
            <input type="text" name="campground[title]" id="title" placeholder="Title">
            <label for="price">Price/night</label>
            <input type="text" name="campground[price]" id="price" placeholder="0">
            <label for="location">Location</label>
            <input type="text" name="campground[location]" id="location" placeholder="location">
        </p>
        <textarea name="campground[description]" id="description" placeholder="description"></textarea>
        <button>Submit</button>
    </form>
    <a href="/campgrounds"><button>Go back</button></a>